body {
    margin:2em;
}
h1 {
    background-color: rgb(255, 122, 34);
    height: 75px;
    padding-top:1.5em;
    padding-left:5em;
    padding-bottom:0.5em;
    margin:-1em;
    margin-bottom:0em;
    color:white;
    font-size:300%;
    font-family:sans-serif;
}

img {
    position:absolute;
    right:2em;
    top:2em;
    height:40%;
    box-shadow: 0 7px 20px 0 rgb(105, 89, 89);
}

h2 {
    padding-bottom:7px;
    border-bottom:1px solid black;
    margin-bottom:-7px;
    font-family:sans-serif;
}

.nav {
    padding-top:2em;
    padding-bottom:2em;
}

.nav a {
    color:blue;
}

.nav a:hover {
    color:rgb(125, 125, 252);
}

li {
    margin-bottom:3px;
    font-family:sans-serif;
}

.footer {
   text-align:center;
   background-color:rgb(255, 122, 34);
   margin:-5em;
   margin-top:0em;
   padding:1em;
   color:white;
   font-family:sans-serif;
}

#footText {
    margin-bottom:5px;
}

.footer a {
    color:white;
}

.footer a:hover {
    color:blue;
}

#modDate {
    color:yellow;
}