@media only screen and (min-width: 620px) {
    main {
        width:100%;
        max-width:750px;
        margin:0 auto;
    }
    
    header img {
        width: 130px;
        height: 130px;
    }

    header {
        padding:1em;
        justify-content:center;
    }

    .title h1 {
        font-size: 50px;
    }

    .title p {
        font-size: 15px;
    }

    h1 {
        font-size:3em;
    }

    .weather {
        font-size:20px;
    }

    .article img {
        float:right;
        width:300px;
        margin:0 1em 1em;
    }

    .article {
        margin-bottom: 50px;
    }

    .contact {
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .foottext {
        font-size:18px;
    }

    .day {
        margin-top:3em;
        margin-bottom:3em;
        display:flex;
        flex-direction:row;
        justify-content:center;
    }

    .day article {
        background-color:#4D729850;
    }
    
    .day article img {
        width:70px;
        padding:.5em;
    }

    .day p {
        text-align: center;
        border-bottom:1px solid black;
        margin-bottom:0;
        margin-top:0;
        padding-bottom:1em;
    }

    .weekday {
        background-color:#4D7298;
        border-top:1px solid black;
        border-bottom:1px solid black;
        padding: 1em;
        margin:0;
        color:#E2F1AF
    }

    .day article {
        border-left:1px solid black;
    } 

    .odd {
        border-right:1px solid black;
    }
}