@media only screen and (min-width: 620px) {
    main {
        width:100%;
        max-width:750px;
        margin:0 auto;
    }
    
    img {
        width: 130px;
    }

    header {
        padding:1em;
        justify-content:center;
    }

    .title h1 {
        font-size: 50px;
    }

    .title p {
        font-size: 15px;
    }

    .weather {
        font-size:20px;
    }

    .content {
        font-size:1em;
        padding:15px;
        margin: 10px
    }

    .foottext {
        font-size:18px;
    }
}