main {
    width:100%;
    max-width:1000px;
    margin:0 auto;
}

#banner {
    background-color: #FA9500;
    color:#2E2E38;
    margin:-1em;
    padding: 1em;
    font-size:1.5em;
    text-align:center;
}

header {
    display:flex;
    flex-direction:row;
    justify-content: center;
    text-align: center;
    background-color: #E2F1AF;
    width:100%;
}

.title h1 {
    font-family: 'Cabin', sans-serif;
    font-size:1.8em;
    color:#2E2E38;
    margin-bottom:-.3em;
}

.title p {
    font-family: 'Playfair Display', serif;
    color:#4D7298;
    font-size:.7em;
}

header img {
    width:100px;
    height:100px;
    margin-left:0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation {
    list-style: none;
    text-align:center;
    font-family: 'Cabin', sans-serif;
    background-color: #47602F;
    margin-top:0;
    padding:1.1em;
}

.navigation a {
    background-color: #47602F;
    color:white;
    padding:1em;
    text-decoration:none;
}

.navigation a:hover{
    background-color:#2E2E38;
}

.responsive li {
    display: flex;
    flex-direction:column;
}

.responsive {
    padding-bottom:0;
}

.responsive li:first-child {
    padding-bottom:1em;
}

h1 {
    font-family: 'Cabin', sans-serif;
    text-align:center;
    color:#2E2E38;
}

.content {
    background-color:#4D7298;
    padding:7px;
    margin: 6px;
    border:2px dashed #2E2E38;
    color:white;
    font-family: 'Playfair Display', serif;
    font-size:13px;
}

.hero {
    margin:.5em;
}

.hero img {
    width:100%;
}

.weather {
    display:flex;
    flex-direction:column;
    background-color:#47602F95;
    width:12em;
    padding: 1px 10px 1px 10px;
    position: absolute;
    margin: 1em;
    box-shadow: 0 5px 10px 0 #2E2E38;
}

.weather h3 {
    font-family:'Cabin', 'sans-serif';
    margin-bottom:-.5em;
    border-bottom: 3px solid #E2F1AF;
    color: #E2F1AF;
}

.weather ul {
    padding:0;
}

.weather li {
    list-style:none;
    font-family: 'Playfair Display', 'serif';
    margin:4px;
    text-align:center;
}

.special {
    color: #FA9500;
}

.day {
    display:none;
}

.foottext {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#47602F;
    padding:.7em;
    color:white;
    font-size:.9em;
}

.foottext p {
    margin:0;
}