@media only screen and (min-width:600px) {

    /*header*/
    header h1 {
        font-size:35px;
    }

    /*nav*/
    .navigation {
        display:flex;
        flex-direction:row;
        gap:3em;
        justify-content:center;
    }

    .navigation li {
        display:block;
        font-size:15px;
    }

    .navigation li:first-child {
        display:none;
    }

    /*motto*/
    .motto h2 {
        font-size:30px;
    }


    /*weather*/
    .weather {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        margin-bottom:5em;
    }

    .forcastWeather, .currentWeather {
        margin:0 auto;
    }

    /*purpose*/
    .purpose {
        padding:1em 2em;
    }

    /*companies*/
    .companyTab img {
        float:left;
        width:170px;
        margin-right:2em;
    }

    .companyTab h4 {
        margin-left:40%;
    }

    .companyTab {
        padding-bottom:2em;
    }

    /*footer*/
    .footDisplay {
        display:flex;
        flex-direction:row;
        justify-content:center;
        text-align:left;
    }

    .footerTab h4 {
        margin-left:0
    }


    /*loomis - events*/
    .loomisEvents {
        margin: 1em 5em 7em;
    }

    .demographic {
        margin: 0 5em 3em;
    }

    form {
        margin: 0 5em
    }

    .benefitsTab {
        margin-right:5em;
        margin-left:5em;
    }

    /*directory*/
    .toggle {
        display:flex;
        flex-direction:row;
        justify-content:center;
        gap:1em;
    }

    button {
        color:#DC7F9B;
        border:none;
    }

    .grid {
        display:grid;
        grid-template-columns:1fr 1fr;
        padding: 1em 5em;
        gap:2em;
    }

    .grid article {
        background-color:#C4A77D50;
        padding :1em 0;
        border-radius:10px;
    }

    .grid article a {
        color:#004346
    }
    
    .grid article a:hover {
        color:#DC7F9B;
    }

    .list article {
        display:flex;
        flex-direction:row;
        align-items:center;
        margin:3em 4em;
        padding:1em;
        gap:1em;
        justify-content:space-between;
    }

    .list article h3 {
        margin:0;
        border-bottom:none;
    }


    /*contact*/

    .directorTab {
        margin:0 9em 3em;
    }

}