body {
    width:100%;
    margin:0 auto;
    background-color:#C4A77D40;
}

main {
    margin:1em;
}

/*header*/

header {
    background-color:#09BC8A;
    padding:1px 0;
    width:100%;
}

header img {
    float:left;
    margin:2.5em 1em 1em;
}

header h1 {
    text-align:center;
    font-family:'Alef', sans-serif;
    font-size: 30px;
}


/*navigation*/
.navigation li:first-child {
    display:block;
}

.navigation li {
    display:none;
}

.navClick li{
    display:block;
    text-align:center;
    padding:0 0 10px;
}

.navClick li:first-child {
    float:left;
    margin-right:-5em;
}

.navigation {
    list-style: none;
    background-color:#004346;
    margin-top:-1px;
    padding:.5em;
}

.navigation a {
    text-decoration:none;
    color:#C4A77D;
    font-family:'Alef', sans-serif;
    padding:5px;
}

.navigation a:hover{
    background-color:#5A3A31;
}

.navigation a:visited{
    color:#C4A77D;
    background-color:#004346;
}

#active {
    color:#DC7F9B;
}

/*generals*/

h1, h2, h3, h4 {
    font-family:'Alef', sans-serif;
}

p {
    font-family: 'Philosopher', serif;
}

/*home - motto*/

.motto {
    margin:-1em;
    position:relative;
}

.heroImg img{
    width:100%;
}

.motto h2 {
    position:absolute;
    font-size:20px;
    margin:0 auto;
    text-align:center;
    background-color:#C4A77D90;
    border-radius:30px;
    padding:10px;
    bottom:40%;
    left:10%;
    right:10%;
}



/*home - weather*/
.weather {
    text-align:center;
    margin-top: 5em;
}

.currentWeather {
    width:260px;
    margin: 2em auto;
    border: 3px solid #5A3A31;
    background-color:#C4A77D50;
    border-radius:50px;
}

.currentWeather h3 {
    background-color:#5A3A31;
    margin:-1px;
    padding:.5em;
    color:white;
    border-radius:300px 300px 0 0 ;
}

.currentInfo div {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    border-bottom: 2px solid #C4A77D;
    margin: 0 1em;
}

.weather img {
    width:80px;
}

.forcastWeather {
    width:260px;
    margin: 3em auto 5em;
    border: 3px solid #5A3A31;
    border-radius:50px;
    background-color:#C4A77D50;
}

.forcastWeather h3 {
    background-color:#5A3A31;
    border-radius:300px 300px 0 0 ;
    margin:-1px;
    padding:.5em;
    color:white;
}

.forcastInfo {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.forcastInfo h4 {
    margin:-1px;
}

.day2, .day3 {
    border-left: 2px solid #C4A77D;
}

.day1, .day2, .day3 {
    margin:1em 0;
}

.day1 p, .day2 p, .day3 p {
    margin-top:-1px
}

/*purpose*/
.purpose {
    background-color:#09BC8A60;
    padding:1em;
    margin: 0 -1em;
}

.purpose h3, .purpose h4 {
    color:#004346;
    border-bottom: 2px solid #004346;
}


/*home - companies*/

.companies {
    text-align:center;
    margin-top:5em;
    background-color:#5A3A3120;
    border-radius: 40px;
    padding-bottom: 5px;
}

.companies h3 {
    font-size:25px;
    background-color: #5A3A31;
    border-radius:300px 300px 0 0 ;
    padding:8px;
    margin:0 auto;
    color:white;
}

.companyTab {
    margin: 2em 2em;
    background-color:#C4A77D90;
    padding:1em;
    border-radius:10px;
}

.companyTab h4 {
    border-bottom:2px solid #5A3A3150;
    margin-left: 2em;
    margin-right: 2em;
}

.companyTab img {
    width:50%;
    box-shadow: 0 0 10px 1px #5A3A31;
}

.companyTab a {
    color:#004346;
}

.companyTab a:hover{
    color:#DC7F9B;
}


/*home - join*/
.applyLink {
    text-align:center;
    margin:3em -1em;
    background-color:#09BC8A60;
    padding:1em;
}

.applyLink a {
    color:#004346; 
}

.applyLink a:hover {
    color:#DC7F9B;
}


/*home - events*/
.events {
    text-align:center;
    background-color:#5A3A3120;
    border-radius:40px;
    padding-bottom:7px;
}

.events h3 {
    background-color:#5A3A31;
    color:white;
    border-radius:300px 300px 0 0 ;
    padding:8px;
}

.eventTab {
    margin: 2em 1em ;
    background-color:#C4A77D90;
    padding:1em 1em .5em;
    border-radius:10px;
}

.eventTab h4{
    border-bottom:2px solid #5A3A3150;
    margin:0 2em;
}

/*footer*/
.footDisplay {
    text-align:center;
    background-color:#09BC8A;
    margin-top:5em;
    margin-bottom:-1em;
}

.footerTab {
    margin:1em 0;
    padding:1em;
}

.footerTab h4 {
    color:#004346;
    border-bottom:2px solid #00434660;
    margin: 0 5em;
}

.footerTab a {
    color:#5A3A31;
}

.footerTab a:hover {
    color:#DC7F9B;
}

.footerText {
    text-align:center;
    padding:.3px 0 1em 0;
    background-color:#004346;
    color:#09BC8A;
}

.footerText a {
    text-decoration:none;
    color:#C4A77D;
    padding:5px;
}

.footerText a:hover{
    background-color:#5A3A31;
}

#dateMod {
    color:#DC7F9B;
}