body {
    width:100%;
    margin:0 auto;
}

main {
    margin:1em;
}

/*header*/

header {
    background-color:#09BC8A;
    padding:1px 0;
    width:100%;
}

header img {
    float:left;
    margin:2.5em 1em 1em;
}

header h1 {
    text-align:center;
    font-family:'Alef', sans-serif;
    font-size: 30px;
}


/*navigation*/
.navigation li:first-child {
    display:block;
}

.navigation li {
    display:none;
}

.navClick li{
    display:block;
    text-align:center;
    padding:0 0 10px;
}

.navClick li:first-child {
    float:left;
    margin-right:-5em;
}

.navigation {
    list-style: none;
    background-color:#004346;
    margin-top:-1px;
    padding:.5em;
}

.navigation a {
    text-decoration:none;
    color:#C4A77D;
    font-family:'Alef', sans-serif;
    padding:5px;
}

.navigation a:hover{
    background-color:#5A3A31;
}

.navigation a:visited{
    color:#C4A77D;
    background-color:#004346;
}

#active {
    color:#DC7F9B;
}

/*generals*/

h1, h2, h3, h4 {
    font-family:'Alef', sans-serif;
}

p {
    font-family: 'Philosopher', serif;
}

/*home - motto*/
.heroImg img{
    width:100%;
}



/*home - weather*/
.weather {
    text-align:center;
}

.currentWeather {
    margin-top:2em;
}

.currentInfo div {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.weather img {
    width:80px;
}

.forcastWeather {
    margin-top:2em;
}

.forcastInfo {
    display:flex;
    flex-direction:row;
    justify-content:center;
}


/*home - companies*/

.companies {
    text-align:center;
}

.companyTab {
    margin: 2em 0;
}


/*home - join*/
.applyLink {
    text-align:center;
    margin:3em 0;
}


/*home - events*/
.events {
    text-align:center;
}

.eventTab {
    margin: 2em 0;
}

/*footer*/
.footDisplay {
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:50px;
}

.footerTab {
    margin:2em 0;
}

.footerText {
    text-align:center;
    padding:.3px 0 1em 0;
    background-color:#004346;
    color:#09BC8A;
}

.footerText a {
    text-decoration:none;
    color:#C4A77D;
    padding:5px;
}

.footerText a:hover{
    background-color:#5A3A31;
}

#dateMod {
    color:#DC7F9B;
}